@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-Regular.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-LightItalic.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-Black.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-HeavyItalic.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-MediumItalic.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-UltraLightItalic.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-BlackItalic.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-SemiBoldItalic.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-Thin.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-RegularItalic.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-ThinItalic.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-UltraLight.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-Heavy.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-ExtraBoldItalic.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-BoldItalic.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-Medium.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-Light.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-SemiBold.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-Bold.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('https://media.pixelbakery.co/PB/assets/Gilroy-ExtraBold.woff2') format('woff2'),
        url('https://media.pixelbakery.co/PB/assets/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
